/* Write some CSS below */
.work-experiences {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.experience img {
	width: 150px;
}

#cv-img {
	display: block;
    margin: auto;
    max-width: 20%; 
    height: auto; 
}